.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.formcontainer {
  background-color: transparent;
  width: 40vw;
  padding: 10vh;
}

.settingForm {
  margin-top: 12vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.heading {
  position: relative;
  top: 4vh;
  left: 9vw;
  font-size: large;
  color: black;
}
.settingForm input {
  border: none;
  color: black;
}

.settingForm div {
  border: 1px solid black;
  border-radius: 9px;
  padding: 0px 5px;
  display: flex;
  align-items: baseline;
}

.logout {
  position: absolute;
  bottom: 5vh;
  left: 2vw;
  color: red;
  display: flex;
  font-size: 16px;
  align-items: center;
  border-radius: 25px;
  gap: 5px;
  font-weight: 500;
  cursor: pointer;
}

.logout p {
  font-size: 12px;
}

.error {
  color: red;
  font-size: 10px;
}
