.workspace {
  border: 1px solid #a3a3a3;
  background-color: white;
  padding: 5px;
  width: 280px;
  border-radius: 7px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-left: 30vw;
  flex-direction: column;
  position: absolute;
  top: 10px;
}

.deletefolder {
  margin-left: 10px;
  color: red;
}

.more {
  position: relative;
}

.default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1px 10px;
}
.default p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.more {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.header {
  display: flex;
  gap: 5vw;
  padding: 10px;
  align-items: center;
}

.func {
  display: flex;
  gap: 15vw;
  position: relative;
  left: 68vw;
}

.toggle {
  display: flex;
}

.sharebtn {
  display: flex;
  padding: 10px 14px;
  background-color: #1a5fff;
  border-radius: 6px;
}

.form {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.form button {
  background-color: #1a5fff;
  display: flex;
  flex-direction: column;
  width: 14vw;
  height: 35vh;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.icon {
  font-size: 28px;
}

.container {
  padding: 20px 10vw;
}

.folder button {
  background-color: white;
  color: black;
  border: 1px solid #2a2a2d;
  margin: 5px;
  border-radius: 7px;
  padding: 8px;
  display: flex;
  gap: 4px;
  font-size: medium;
  font-size: 14px;
}

.folder {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.folder p {
  background-color: white;
  color: black;
  border: 1px solid #2a2a2d;
  font-size: medium;
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 14px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 10px 15px;
  /* padding-bottom: 20px; */
  border-radius: 14px;
  position: relative;
  max-width: 25vw;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shareModalContent {
  background: white;
  padding: 8px 15px;
  padding-bottom: 25px;
  border-radius: 12px;
  position: relative;
  max-width: 40vw;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.emailInvite {
  display: flex;
  justify-content: space-between;
}

.emailInvite p {
  font-size: large;
  font-weight: 400;
}

.emailInvite div {
  font-size: small;
  font-weight: normal;
}

.linkInvite {
  align-self: flex-start;
  font-size: large;
  font-weight: 400;
}

.modal button {
  font-size: small;
}

.viewEdit {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 0;
  background-color: white;
  position: absolute;
  z-index: 10;
}

.viewEdit button {
  background-color: transparent;
  color: #333;
  padding: 2px 4px;
  font-size: small;
  padding-bottom: 2px;
}

.perm {
  width: 50px;
  cursor: pointer;
}
.divider {
  height: 1px;
  background-color: #ccc;
  width: 100%;
}

.closeIcon {
  color: red;
  align-self: flex-end;
  font-size: 24px;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.inputField {
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.modalContent h2 {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.modalActions {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.doneButton {
  background: transparent;
  color: #1a5fff;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.cancelButton {
  background: transparent;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
}

.doneButton:hover,
.cancelButton:hover {
  opacity: 0.9;
}

.formType {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  width: 14vw;
  height: 35vh;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.formDeleteIcon {
  position: absolute;
  top: -8px;
  right: -7px;
  font-size: 18px;
  color: red;
}

.workspace {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.folderName,
.formType {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.buttons button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.noContent {
  color: gray;
  font-style: italic;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 200px;
  z-index: 1000;
}
.options {
  width: 100%;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  list-style: none;
  width: 100%;
}
.dropdownItem {
  padding-top: 10px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.2s;

  /* Adds a horizontal line on top */
  border-top: 1px solid #ccc;
}

.options {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdownItem {
  padding-bottom: 2px;
}

.default {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  padding: 4px 10px;
}

.more {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.more:hover {
  color: #333;
}
